# Training Configuration for Wall-X Robotic Multi-Modal Learning
# This configuration supports multi-modal learning with vision, language, and action data
# Model and paths configuration
log_name: "robotic_training"
log_project: "vla_training"
model_type: wall-oss
pretrained_wallx_path: "/mnt/nas_ssd/workspace/wenboli/projects/Wall-X/Pretrained_models/wall-oss-flow"  # Must set
save_path: "/mnt/nas_ssd/workspace/wenboli/projects/Wall-X/output_models"                # Must set
use_fast_tokenizer: False                       # True: train FAST, False: train Flow
action_tokenizer_path: "/mnt/nas_ssd/workspace/wenboli/projects/Wall-X/Pretrained_models/wall-oss-flow"         # Must set if use_fast_tokenizer is true

# Torch Profile
profile: False
profile_save_path: /path/to/profile/
profile_wait_iters: 10
profile_warmup_iters: 5
profile_active_iters: 2

# Training hyperparameters
num_warmup_steps: 100
num_training_steps: 64000000
learning_rate: 0.00005
min_lr: 0.00005
num_epoch: 20
gradient_accumulation_steps: 32
# batch_size_per_gpu: 
batch_size_per_gpu: 8
padding_side: left
epoch_save_interval: 10

# Training optimization settings 关闭即时编译
FSDP2: True
torch_compile: False

dof_config:
  joint_robot_position: 18
  joint_gripper_position: 2

agent_pos_config:
  joint_robot_position: 18
  joint_gripper_position: 2

# # Checkpoint resuming configuration
# resume:
#   ckpt: "/path/to/resume_model/"
#   load_ckpt_only: true

norm_stats_path: "/mnt/nas_ssd/workspace/wenboli/projects/Wall-X/norm_stats/g1custom/norm_stats.json"

enable_customized_robot_config: true
customized_robot_config:
  name: "g1custom"
  customized_dof_config:
    joint_robot_position: 18
    joint_gripper_position: 2
  customized_agent_pos_config:
    joint_robot_position: 18
    joint_gripper_position: 2

# Data configuration
data:
  use_lerobot: true

  # LeRobot dataset configuration
  lerobot_config:
    repo_id: "g1custom"
    root: /mnt/nas_ssd/data/wallx/data/g1/lerobot/Teleop_251103_sort_Anonymous_10Hz
    episodes: null
    image_transforms: null
    delta_timestamps: null
    tolerance_s: 1e-4
    revision: null
    force_cache_sync: false
    download_videos: false
    video_backend: pyav
    modality_json: "/mnt/nas_ssd/data/wallx/data/g1/lerobot/Teleop_251103_sort_Anonymous_10Hz/meta/modality.json"

  action_horizon: 32
  train_test_split: 0.95

  # Action keys for observation and prediction
  obs_action_keys:
    - joint_robot_position
    - joint_gripper_position

  predict_action_keys:
    - joint_robot_position
    - joint_gripper_position


  # Image resolution configuration for different camera views
  resolution:
    face_view: 256
    left_wrist_view: 256
    right_wrist_view: 256
